	<div class="container">
		<div class="row">
        	<h4 class="textColor all">Mobile Demo</h4>
        </div>
        <div class="row">
        	<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
           	  <p class="textColor">The first request for HSBC´s project was a 360 viewer. The client´s request was to be able to rottate the object and also zooming in to reveal hidden spots links. To finish this project I used <a class="mobileLink" href="http://manuelstofer.github.io/pinchzoom/demo/swipe.html">this</a> repository and change it to make it a 360 viewer. When a hidden spot is clicked, a jssor slider opens whith animated images.</p><!--add download link-->
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
            	<img class="img-fluid img-rounded center-block" src="images/mobile.png"/>
            </div>
        </div>
	</div>