	<div class="container">

		<div class="row">
        	<h4 class="textColor all">Mobile Demo</h4>
        </div>
		<div class="row">
        	<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
           	  <p class="textColor">
					 It's a side project I've been working on the last couple of months.
					 I started creating this project in order to play mime game with my friends.
					 You create two teams and start playing, it gives different movies to every team and also counts the score.
					 I used a variety of technologies for this Project: HTML, CSS, JavaScript (AngularJS), Python, PHP (in the first version).
					 I even worked on Photoshop for creating the posters the backgrounds and the icons. 
			  </p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6" style="text-align: center;">
            	<iframe src="http://localhost/test/src/client/"
						style="height: 500px; float:right;" ></iframe> <!--http://ksulourgeio.gr/TheoJohn/game/movieApp/ -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
              <p class="textColor" style="position: relative;top:250px;">
                    This is a project for a client to show case responsive design and CSS and JQuery animations. 
              </p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6" style="text-align: center;">
              
                    <iframe src="templates/LegoForm"
                            style="width:100%; height: 500px; float:right;" ></iframe>
             
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <iframe src="templates/LegoForm"
                        style="width:100%; height: 500px;" ></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
              <p class="textColor">The first request for HSBC´s project was a 360 viewer. The client´s request was to be able to rottate the object and also zooming in to reveal hidden spots links. To finish this project I used <a class="mobileLink" href="http://manuelstofer.github.io/pinchzoom/demo/swipe.html">this</a> repository and change it to make it a 360 viewer. When a hidden spot is clicked, a jssor slider opens whith animated images.</p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                <img class="img-fluid img-rounded center-block" src="images/mobile.png" style="float:right"/>
            </div>
        </div>
	</div>